<?xml version="1.0" encoding="UTF-8"?>
<configuration monitorInterval="10">
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <Async name="ASYNC">
            <appender-ref ref="Console"/>
        </Async>
    </appenders>
    <loggers>
        <root level="INFO">
            <appender-ref ref="ASYNC"/>
        </root>
    </loggers>
</configuration>